body{
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  font-size: 120%;
  margin: auto;
  background: #f7fce3;
  background-image: url(/images/WhiteGeometricShapesBackground.png);
  background-repeat: no-repeat;
}

#theApp{
  margin-top: -100px;
  display: block;
  
}

#taskTitle, #taskDescription, #taskStartDate, #taskDueDate, #addButton{
  display: block;
  margin : 0 auto;
}

h1{
  margin-top: 100px;
  text-align: center;
  font-size: 450%;
  font-style: oblique;
  color: rgb(0, 44, 44);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}



h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center; 
  font-style: normal;
  font-weight: 100;
}

.newTask{
  text-align: left;
  font-family: Arial;
}

.bannerTop {
  height: 400px;
  background-image: url('../images/long.png');
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(0, 44, 44);
}

#addButton{
  margin-top: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  color: black;
  font-weight: bold;
}

.buttonStyle{
  height:39px;
  width:140px;
  margin: 10px;
  color: rgb(0, 0, 0);
  border-color: chartreuse;
  border-radius: 40%;
}

.taskList{
  padding-top: 20px;
  font-weight: bolder;
  font-size: large;
  border-style: solid;
  border-color: rgb(136, 210, 219);
  border-width: 4px;
}

.newTask{
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bolder;
  font-size: large;
  border-style: solid;
  border-color:rgb(146, 214, 223);
  border-width: 4px;
}

.myDiv{
  padding: 10px;
}

 /* Remove margins and padding from the list */
ul {
  margin-right: 20px; 
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 12px;
  background: #ddd;
  font-size: 18px;
  transition: 0.2s;

/* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

/* Darker background-color on hover */
ul li:hover {
  background: darkgrey;
}

.bannerBottom {
  padding-top: 50px;
  height: 150px;
  color:black;
  /* background-color: #a75e6f; */
  background-color: #8a5b66;
  text-align: center;
  font-weight: bolder;
}

